---
import { Button } from "@packages/ui/components/button";
---

<section>
  <div class="py-12">
    <div class="mx-auto max-w-6xl">
      <div class="flex flex-wrap items-center justify-between ">
        <div>
          <h2 class="text-foreground text-balance text-2xl font-semibold md:text-3xl">Ready to Automate Your Content Strategy?</h2>
        </div>
        <div class="flex justify-end gap-3">
          <Button
            size="lg"
            className="font-semibold">
            <a href="https://app.contentagen.com/auth/sign-up">Start for Free</a>
          </Button>
        </div>
      </div>
    </div>
  </div>
</section>
