---
import { Picture } from "astro:assets";
import { Sparkles } from "@lucide/astro";
import { Badge } from "@packages/ui/components/badge";
import { Button } from "@packages/ui/components/button";
import dashboardImage from "../assets/dashboard.png";
---

  <section id="hero-section" class="flex flex-col items-center justify-center min-h-screen container mx-auto p-4 space-y-8">
        <div class="space-y-4 flex flex-col items-center justify-center text-center  ">
            <Badge className="flex gap-2 px-4 py-2 items-center font-semibold" >
              <Sparkles  />
              Introducing Contenta Agents
            </Badge>
    <h1 class="text-4xl font-bold  sm:text-5xl text-foreground">AI Blog Posts, <span class="text-primary">Instantly

    </span></h1>
          <p class="text-xl text-muted-foreground">Automated, SEO-ready content for creators and agencies.</p>
          <div class="flex items-center justify-center gap-4">
            <Button>
              Start Building
            </Button>
            <Button variant="outline">
              Watch Video
            </Button>
          </div>
        </div>
    <Picture
                class="rounded-xl shadow-xl ring-2 ring-black/10"
                formats={['webp']}
                src={dashboardImage}
                alt="dashboard-image"
              />
  </section>
