---
import { Button } from "@packages/ui/components/button";
import { Github } from "@lucide/astro";

const integrations = [
  {
    name: "GitHub",
    icon: Github,
  },
];
---
<section id="integrations" class="flex flex-col items-center justify-center bg-accent h-full">
  <div class="container mx-auto p-4">
    <div class="flex flex-col items-center space-y-4 text-center">
      <div>
        <h2 class="text-foreground text-2xl font-semibold">Automate Your Blog Workflow</h2>
        <p class="text-muted-foreground max-w-xl ">Integrate with your favorite tools to automate the publishing of your content.</p>
      </div>
        {integrations.map(({ name, icon: Icon }) => (
        <Button variant={"ghost"} className="px-4 py-8 bg-background rounded-full" key={name} disabled>
          <Icon class="size-10 text-muted-foreground" />
        </Button>
        ))}
      </div>
    </div>
  </div>
</section>
