---
import { Picture } from "astro:assets";
import duomeLogo from "../assets/teams/duome-logo.webp";
import enduroLogo from "../assets/teams/enduro-logo.webp";

const _partners = [
   {
      alt: "Enduro for Tri Logo",
      logo: enduroLogo,

      url: "https://www.endurofortri.com/en",
   },
   {
      alt: "Duome Logo",
      logo: duomeLogo,
      url: "https://www.duome.app/",
   },
   // Add more partners as needed
];
---

<section class="container mx-auto px-4 py-8 flex justify-start items-center  space-x-4">

	
			<p class="text-muted-foreground text-lg">Trusted by teams at :</p>
			<div class="flex items-center justify-center gap-4">
				{_partners.map((partner) => (
					<div class="flex">
						<a
							href={partner.url}
							target="_blank"
							rel="noopener noreferrer"
						>
				<Picture
          formats={['webp']}
          loading={"lazy"}
								class="h-10 w-10"
								src={partner.logo}
								alt={partner.alt}
							
							/>
						</a>
					</div>
				))}
			</div>
	

</section>
