---
import { Picture } from "astro:assets";
import liciteiLogo from "../assets/teams/licitei-logo.svg";
---

<section class=" py-16 rounded-b-4xl">
  <div class="mx-auto max-w-5xl px-6">
    <h2 class="text-center text-lg font-medium">Trusted by teams at</h2>
    <div class="mx-auto mt-20 flex max-w-4xl flex-wrap items-center justify-center gap-x-12 gap-y-8 sm:gap-x-16 sm:gap-y-12">
      <div class="flex">
        <a
          href="https://app.licitei.co/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Visit Licitei website (opens in new tab)"
        >
          <Picture
            class="mx-auto h-5 w-fit "
            src={liciteiLogo}
            alt="Licitei Logo"
            formats={["webp"]}
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
</section>
