---
import { Picture } from "astro:assets";
import liciteiLogo from "../assets/teams/licitei-logo.svg";
---

<section>
  <div class="mx-auto max-w-5xl px-6 py-8">
    <div>
      <p class="text-muted-foreground font-medium">Trusted by teams at :</p>
      <div class="mt-4 flex items-center gap-12">
        <div class="flex">
          <a
            href="https://app.licitei.co/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit Licitei website (opens in new tab)"
          >
            <Picture
              class="mx-auto h-5 w-fit"
              src={liciteiLogo}
              alt="Licitei Logo"
              formats={["webp"]}
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
