---
import liciteiLogo from "../assets/teams/licitei-logo.svg";
import { Image } from "astro:assets";
---

<section class=" relative py-16 md:py-24 ">
  <div class="mx-auto max-w-6xl px-6">
    <div class="mx-auto max-w-2xl text-center">
      <blockquote>
        <p class="text-lg font-medium sm:text-xl md:text-3xl">Using ContentaGen has been like unlocking a secret content creation superpower. It's the perfect fusion of AI intelligence and human creativity, enabling us to create content that is as engaging as it is effective.</p>

        <div class="mt-12 flex items-center justify-center gap-6">
          <Image
            src={liciteiLogo}
            alt="Licitei Logo"
            class="size-12 rounded-full"
            width={48}
            height={48}
            loading="lazy"
          />

          <div class="space-y-1 border-l pl-6">
            <cite class="font-medium">Licitei Team</cite>
            <span class="text-muted-foreground block text-sm">Content Team, Licitei</span>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</section>
