---
const stats = [
   {
      label: "Words Generated Weekly",
      value: "500k+",
   },
   {
      label: "Customer Satisfaction",
      value: "98%",
   },
];
---
<section class="bg-accent px-4 py-16">
  <div class="container mx-auto flex flex-col text-center items-center space-y-8">
    <div class="">
      <h2 class="text-3xl md:text-4xl font-extrabold text-primary ">Our Impact in Numbers</h2>
      <p class="text-lg text-muted-foreground max-w-xl ">See how our platform empowers creators and businesses with proven results every day.</p>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      {stats.map((stat) => (
        <div class="p-4 space-y-4">
          <div class="text-primary text-5xl font-extrabold ">
            {stat.value}
          </div>
          <p class="text-muted-foreground text-lg font-medium">
            {stat.label}
          </p>
        </div>
      ))}
    </div>
  </div>
</section>
