---
import { Picture } from "astro:assets";
import brandConfig from "@packages/brand/index.json";
import hugoImg from "../assets/testimonials/hugo.webp";
---

<!-- TestimonialSection.astro -->

<section class=" flex flex-col items-start md:items-center justify-center container mx-auto px-4 py-16 ">
      <blockquote class="space-y-4 before:bg-primary relative max-w-xl pl-8 before:absolute before:inset-y-0 before:left-0 before:w-1 before:rounded-full">
        <p class="text-foreground text-lg">
          Using {brandConfig.name} has been a game-changer for me. With its AI-driven automation for SEO and content optimization, I've reached more people than I ever thought possible, effortlessly expanding the visibility of my business.
        </p>
        <footer class=" flex items-center gap-4">
      <Picture

          formats={['webp']}
          loading={"lazy"}
              src={hugoImg}
              alt="Hugo Bernardo"
              class="w-12 h-12 object-cover rounded-full ring-foreground/10 border-transparent shadow ring-1 overflow-hidden"
            />
          <cite>Hugo Bernardo</cite>
          <span aria-hidden class="bg-foreground/15 size-1 rounded-full"></span>
          <span class="text-muted-foreground">Triathlon coach | Sports Nutritionist</span>
        </footer>
      </blockquote>
</section>
