---
import { Quote } from "@lucide/astro";
---


<section class="bg-accent p-4">
  <div class="container mx-auto   flex flex-col items-center justify-center space-y-4">
      <Quote class="fill-background stroke-background w-8 h-8 " />
      <blockquote class=" text-center space-y-4">
        <p class="text-foreground text-xl">
          Trusted by agencies and creators to automate blog content with AI.<br>
          Save hours, publish consistently, and maintain quality—see how industry leaders streamline their workflow with us.
        </p>
        <footer class="flex flex-col items-center justify-center">
          <div class="ring-foreground/10 w-12 h-12 border border-transparent shadow ring-1 rounded-full overflow-hidden flex items-center justify-center bg-white">
            <img
              src="https://avatars.githubusercontent.com/u/68236786?v=4"
              alt="Théo Balick"
              class="w-12 h-12 object-cover"
              loading="lazy"
            />
          </div>
          <cite class="text-foreground mt-2 text-lg font-medium">Théo Balick</cite>
          <span class="text-muted-foreground">@theo_b</span>
        </footer>
      </blockquote>
    </div>
</section>
