---
import { ArrowRight, Sparkles } from "@lucide/astro";
import { Badge } from "@packages/ui/components/badge";
import { Button } from "@packages/ui/components/button";
---

<section class="min-h-screen md:h-screen snap-start flex items-center justify-center ">
  <div class="container mx-auto flex flex-col gap-4 justify-center items-center">
    <Badge className=" items-center space-x-2 bg-amber-950 border border-orange-500/30 rounded-full px-4 py-2 ">
      Modern Fullstack Monorepo
    </Badge>
      <div class="flex items-center justify-center space-x-2">
        <Sparkles class="w-10 h-10 text-yellow-400" />
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-black bg-gradient-to-r from-white via-orange-200 via-amber-200 to-yellow-200 bg-clip-text text-transparent leading-tight">
          EAR Stack
        </h1>
      </div>
      <p class="text-muted-foreground text-xl">
        Modern fullstack monorepo powered by
        <span class="text-orange-400 font-semibold bg-gradient-to-r from-orange-400 to-orange-300 bg-clip-text text-transparent">Elysia</span>,
        <span class="text-blue-400 font-semibold bg-gradient-to-r from-blue-400 to-blue-300 bg-clip-text text-transparent">Astro</span>, and
        <span class="text-cyan-400 font-semibold bg-gradient-to-r from-cyan-400 to-cyan-300 bg-clip-text text-transparent">React</span>
      </p>
      <a href="#tech-stack" tabindex="0">
        <Button size="lg" className="inline-flex items-center space-x-2 bg-gradient-to-r from-orange-500 to-orange-400 text-white font-semibold  rounded-lg shadow-md hover:shadow-lg hover:from-orange-600 hover:to-orange-500 transition-all duration-300">
            <span>Get Started</span>
            <ArrowRight />
        </Button>
      </a>
  </div>
</section>

