---
import { Star } from "@lucide/astro";
const { count = 5, size = "w-5 h-5" } = Astro.props;
---

<span class="flex">
  {Array.from({ length: count }).map((_, i) => (
    <Star class={`fill-yellow-400 text-yellow-400 ${size}`} />
  ))}
</span>