---
import "@packages/ui/globals.css";
import PostHog from "../components/posthog.astro";
import brandConfig from "@packages/brand";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		    <PostHog />

		<title>{brandConfig.name}</title>
	</head>
	<body  class="w-full h-full">
	  <slot />
	</body>
</html>

