---
export const prerender = true;
import Layout from "../layouts/Landing.astro";
import BuildYourTeamFeature from "../sections/BuildYourTeamFeature.astro";
import CTA from "../sections/CTA.astro";
import Features from "../sections/Features.astro";
import Footer from "../sections/Footer.astro";
import Navbar from "../sections/Navbar.astro";
import Hero from "../sections/Hero.astro";
import Integration from "../sections/Integrations.astro";
import StatsSection from "../sections/StatsSection.astro";
import Testimonial from "../sections/TestimonialSection.astro";

---
<Layout>:
  <div class="flex flex-col space-y-8">
    <Navbar />
    <Hero />
    <BuildYourTeamFeature />
    <Testimonial/>
    <Integration />
    <Features />
    <StatsSection />
    <CTA />
    <!-- <Pricing /> -->
    <!-- <FAQ /> -->
    <Footer />
  </div>
  </Layout>

