---
export const prerender = true;
import Layout from "../layouts/Landing.astro";
import Footer from "../sections/Footer.astro";
import Hero from "../sections/Hero.astro";
import Pricing from "@/sections/Pricing.astro";
import SDK from "../sections/SDK.astro";
import OpenSource from "../sections/OpenSource.astro";
import BrandLearning from "../sections/BrandLearning.astro";
import CompetitorIntelligence from "../sections/CompetitorIntelligence.astro";
import ContentWorkflow from "../sections/ContentWorkflow.astro";
import SocialProof from "../sections/SocialProof.astro";
import LogoCloud from "../sections/LogoCloud.astro";
import FAQ from "../sections/FAQ.astro";
import CTA from "../sections/CTA.astro";
import StickyNavbar from "../components/StickyNavbar.astro";
import Community from "../sections/Community.astro";
import HowItWorks from "../sections/HowItWorks.astro";
---
<Layout>
  <div class="flex flex-col">
    <StickyNavbar  />
    <div class="bg-gradient-to-b to-muted from-background rounded-b-4xl">

    <Hero />
    <LogoCloud />
    </div>
    <SocialProof id="social-proof" />
      <BrandLearning />
      <CompetitorIntelligence />
    <ContentWorkflow />
    <HowItWorks />
      <SDK />
    <OpenSource />
    <Community />
      <Pricing />
      <FAQ />
      <CTA />
      <Footer />
  </div>
  </Layout>
